@model IEnumerable<TaskOneDraft.Models.Claims>



@{

    ViewData["Title"] = "Claims List";

}



<h2>Claims List</h2>



<table class="table table-striped">

    <thead>

        <tr>

            <th>Id</th>

            <th>Lecturer ID</th>

            <th>First Name</th>

            <th>Last Name</th>

            <th>Period Start</th>

            <th>Period End</th>

            <th>Hours Worked</th>

            <th>Rate per Hour</th>

            <th>Total Hours</th>

            <th>Description</th>

            <th>File</th> <!-- Optional column for file links -->

        </tr>

    </thead>

    Miss Nash Ramckurran9:21 AM
    <tbody>

        @foreach (var claim in Model)

        {

            <tr>

                <td>@claim.ID</td>

                <td>@claim.LecturerID</td>

                <td>@claim.FirstName</td>

                <td>@claim.LastName</td>

                <td>@claim.ClaimsPeriodStart.ToShortDateString()</td>

                <td>@claim.ClaimsPeriodEnd.ToShortDateString()</td>

                <td>@claim.HoursWorked</td>

                <td>@claim.RatePerHour</td>

                <td>@claim.TotalAmount</td>

                <td>@claim.DescriptionOfWork</td>

                <td>

                    @if (claim.SupportingDocuments != null)

                    {

                        <a href="@Url.Action("DownloadFile", new { id = claim.ID })">Download</a>

                    }

                    else

                    {

                       // N / A

                    }

                </td>

            </tr>

        }

    </tbody>

</table>